@import '../../styles/variablesAndMixins.scss';

.hero {
  height: 100%;
  width: 100%;
  font-family: mbankbold;
  // background-color: #f1f1f1;
  margin-bottom: 40px;
  margin-top: 40px;
}

.itKampusHeader {
  @include itKampusHeader;
}

.main {
  @include main;
}

.scheduleRecrutationHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 550px) {
  .scheduleRecrutationHolder {
    flex-direction: column;
    video {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
}
