@import '../../styles/variablesAndMixins.scss';

.hero {
  // background-clip: src('../../public/hero-movie.mp4');
  height: 100%;
  width: 100%;
  font-family: mbankbold;
  margin-bottom: 40px;
  padding-top: 40px;
}

.bold {
  font-family: mbankbold;
}

.itKampusHeader {
  @include itKampusHeader;
}

.itCampusBold {
  font-family: mbankbold;
  margin-bottom: 0;
}

.itCampusBold span {
  color: #0166b1;
}

.btn {
  @include btn;
}

.main {
  @include main;
}

.headersHolderNew {
  font-family: mbankbold;
  padding-top: 20px;
  color: black;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.itCampusSecondArticleHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.itCampusArticleHolder > div {
  font-size: 20px;
}

.itCampusSecondArticleHolder div h2 {
  font-family: mbankbold;
  color: #0b8827;
}

.itCampusSecondArticleHolder div p {
  padding-left: 40px;
  width: 80%;
}

.headersHolderNew h1 {
  font-size: 70px;

  margin-bottom: 0;
  padding-top: 0;
}

.headersHolderNew h1 span {
  font-size: 70px;
  margin-bottom: 0;
  color: #e90a09;
}

.headersHolderNew {
  h3 {
    font-size: 32px;
    padding-top: 0;
    margin-bottom: 0;
  }
}

.headersHolderNew h4 {
  font-size: 30px;
  margin-top: 0;
  padding-top: 0;
  font-family: mbankregular;
}

.headersHolderNew div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 700px) {
  .itCampusSecondArticleHolder {
    flex-direction: column;
  }
  .headersHolderNew {
    flex-direction: column;
    video {
      width: 100%;
    }
  }

  .itCampusSecondArticleHolder video {
    width: 100%;
    height: 100%;
  }
  .itKampusHeader {
    margin-left: 0;
  }
  .itKampusHeader > h2 {
    margin-left: 40px;
  }
}
