@import '../../styles/variablesAndMixins.scss';

.hero {
  // background-clip: src('../../public/hero-movie.mp4');
  height: 100%;
  width: 100%;
  font-family: mbankbold;
}

.image {
  object-fit: cover;
  object-position: 'center bottom';
  height: 700px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
}

.heroArticle {
  // padding-top: 110px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: mbankregular;
}

.heroArticle div {
  width: 80%;
}

.heroArticle img {
  width: 40%;
  height: 300px;
  object-fit: contain;
}

.btn {
  @include btn;
}

.btnMitCzyHit {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 950px) {
  .heroArticle {
    flex-wrap: wrap-reverse;
  }

  .heroArticle img {
    width: 100%;
  }
}

.main {
  @include main;
}

@media (max-width: 500px) {
  .headersHolder h1 {
    font-size: 70px;
  }
  .headersHolder h1 span {
    font-size: 70px;
  }
}

.imageHalf {
  object-fit: cover;
  object-position: 'center bottom';
  height: 100%;
  width: 50%;
  left: 0;
  z-index: -1;
}

.carousel {
  width: 50%;
}

.heroTest div {
  display: flex;
}

.headersHolderNew {
  font-family: mbankbold;
  padding-top: 20px;
  color: black;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.headersHolderNew h1 {
  font-size: 70px;

  margin-bottom: 0;
  padding-top: 0;
}

.headersHolderNew h1 span {
  font-size: 70px;
  margin-bottom: 0;
  color: #e90a09;
}

.headersHolderNew {
  h3 {
    font-size: 32px;
    padding-top: 0;
    margin-bottom: 0;
  }
}

.headersHolderNew h4 {
  font-size: 30px;
  margin-top: 0;
  padding-top: 0;
  font-family: mbankregular;
}

.headersHolderNew div {
  // width: 50%;
  // height: %;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 700px) {
  .headersHolderNew {
    flex-direction: column;
  }
  .headersHolderNew div {
    width: 100%;
  }
}
