@import '../../styles/variablesAndMixins.scss';

.chapterHeader {
  @include chapterHeader;
}

.chapterHeaderHolder {
  @include chapterHeaderHolder;
}

.methodsSmallHolder {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    flex-direction: row;
    div {
      width: 60%;
    }
  }
  img {
    width: 40%;
    height: 40%;
  }
}

.methodsHolder > img {
  width: 100%;
}

@media (max-width: 600px) {
  .methodsSmallHolder {
    flex-direction: column;
  }

  .methodsSmallHolder {
    img {
      width: 50%;
    }
  }
  .methodsSmallHolder {
    div {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      div {
        width: 100%;
      }
    }
  }
}

.main {
  @include main;
}

.main > img {
  width: 100%;
}
