@import '../../../styles/variablesAndMixins.scss';

.experts_h1 {
  font-size: 30px;
  font-family: mbankbold;
}

.experts_p {
  font-family: mbankregular;
  font-size: 16px;
}

.experts_hero_wrapper {
  display: flex;
  flex-direction: column;
}

.experts_hero_content {
  border: 0.5px solid #000000;
  border-top: none;
  padding: 24px;
}
